In [57]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [58]:
df = pd.read_csv('turnstile_180901.txt')
print(len(df))
df.head()

197625

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

Practice
Objectives
You will be able to:

Understand and explain what Pandas Series and DataFrames are and how they differ from dictionaries and lists
Create Series & DataFrames from dictionaries and lists
Manipulate columns in DataFrames (df.rename, df.drop)
Manipulate the index in DataFrames (df.reindex, df.drop, df.rename)
Manipulate column datatypes

Rename all the columns to lower case

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197625 entries, 0 to 197624
Data columns (total 11 columns):
C/A                                                                     197625 non-null object
UNIT                                                                    197625 non-null object
SCP                                                                     197625 non-null object
STATION                                                                 197625 non-null object
LINENAME                                                                197625 non-null object
DIVISION                                                                197625 non-null object
DATE                                                                    197625 non-null object
TIME                                                                    197625 non-null object
DESC                                                                    197625 non-null object
ENTRIES                                                                 197625 non-null int64
EXITS                                                                   197625 non-null int64
dtypes: int64(2), object(9)
memory usage: 16.6+ MB

In [60]:
df.columns
#too much white space

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [61]:

new_columns = []
for column in df.columns:
    new_columns.append(column.lower())

In [62]:
df.columns = new_columns

In [63]:
df.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,exits
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [22]:
# another way to lowercase is list comprehension
df.columns = [column.lower for column in df.columns]
df.head()

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

change index to Line Names

In [64]:
#Your code here
# also do df.set_index('LINENAME', inplace = True) to make permanent change
df = df.set_index('linename')
df.head()

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [65]:
df.index.unique()

Index(['NQR456W', 'NQRW', 'ACENQRS1237W', 'BDFMNQRW', 'NRW', 'LNQR456W',
       'JNQRZ6W', 'RNW', 'R1W', 'FJMZ',
       ...
       '7', '7NQW', 'NQW', '7EFMR', '2345R', '2345', '2345BDNQR', '2345S',
       '34', '5'],
      dtype='object', name='linename', length=113)

In [67]:
df.loc['7EFMR']

,c/a,unit,scp,station,division,date,time,desc,entries,exits
linename,,,,,,,,,,
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/25/2018,00:00:00,REGULAR,4136784,3697866
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/25/2018,04:00:00,REGULAR,4136799,3697914
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/25/2018,08:00:00,REGULAR,4136815,3697948
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/25/2018,12:00:00,REGULAR,4136876,3698049
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/25/2018,16:00:00,REGULAR,4137017,3698221
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/25/2018,20:00:00,REGULAR,4137169,3698452
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/26/2018,00:00:00,REGULAR,4137246,3698615
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/26/2018,04:00:00,REGULAR,4137251,3698655
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/26/2018,08:00:00,REGULAR,4137266,3698679
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/26/2018,12:00:00,REGULAR,4137311,3698789
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/26/2018,16:00:00,REGULAR,4137415,3698920
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/26/2018,20:00:00,REGULAR,4137521,3699134
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/27/2018,00:00:00,REGULAR,4137580,3699251
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/27/2018,04:00:00,REGULAR,4137583,3699277
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/27/2018,08:00:00,REGULAR,4137599,3699308
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/27/2018,12:00:00,REGULAR,4137672,3699421
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/27/2018,16:00:00,REGULAR,4137773,3699639
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/27/2018,20:00:00,REGULAR,4137923,3699938
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/28/2018,00:00:00,REGULAR,4138002,3700088
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/28/2018,04:00:00,REGULAR,4138011,3700116
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/28/2018,08:00:00,REGULAR,4138035,3700153
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/28/2018,12:00:00,REGULAR,4138101,3700256
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/28/2018,16:00:00,REGULAR,4138215,3700408
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/28/2018,20:00:00,REGULAR,4138318,3700623
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/29/2018,00:00:00,REGULAR,4138374,3700747
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/29/2018,04:00:00,REGULAR,4138379,3700765
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/29/2018,08:00:00,REGULAR,4138396,3700794
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/29/2018,12:00:00,REGULAR,4138465,3700876
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/29/2018,16:00:00,REGULAR,4138560,3701006
7EFMR,R525,R018,02-00-00,74 ST-BROADWAY,IRT,08/29/2018,20:00:00,REGULAR,4138685,3701233
...,...,...,...,...,...,...,...,...,...,...
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/27/2018,12:00:00,REGULAR,48456,3249248
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/27/2018,16:00:00,REGULAR,48462,3249576
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/27/2018,20:00:00,REGULAR,48472,3250142
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/28/2018,00:00:00,REGULAR,48474,3250375
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/28/2018,04:00:00,REGULAR,48474,3250448
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/28/2018,08:00:00,REGULAR,48475,3250488
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/28/2018,12:00:00,REGULAR,48478,3250641
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/28/2018,16:00:00,REGULAR,48482,3250807
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/28/2018,20:00:00,REGULAR,48488,3251153
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/29/2018,00:00:00,REGULAR,48490,3251337
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/29/2018,04:00:00,REGULAR,48490,3251386
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/29/2018,08:00:00,REGULAR,48491,3251408
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/29/2018,12:00:00,REGULAR,48495,3251500
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/29/2018,16:00:00,REGULAR,48498,3251688
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/29/2018,20:00:00,REGULAR,48501,3252024
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/30/2018,00:00:00,REGULAR,48505,3252274
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/30/2018,04:00:00,REGULAR,48505,3252330
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/30/2018,08:00:00,REGULAR,48505,3252366
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/30/2018,12:00:00,REGULAR,48515,3252532
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/30/2018,16:00:00,REGULAR,48520,3252845
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/30/2018,20:00:00,REGULAR,48526,3253482
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,00:00:00,REGULAR,48527,3253751
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,04:00:00,REGULAR,48527,3253836
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,08:00:00,RECOVR AUD,48528,3253873
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,11:08:20,REGULAR,48530,3254020
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,11:09:45,REGULAR,48530,3254021
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,11:11:19,REGULAR,48530,3254028
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,12:00:00,REGULAR,48531,3254074
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,16:00:00,REGULAR,48536,3254437
7EFMR,R525,R018,02-06-01,74 ST-BROADWAY,IRT,08/31/2018,20:00:00,REGULAR,48543,3255052

In [66]:
# another way to get data with a particular index---i cant get this to run
df[df['linename'] == '7EFMR']

KeyError: 'linename'

Painstakingly change the index back

In [68]:
# Your code here
#or df.reset_index(inplace = True)
df = df.reset_index() #Not that painful
df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

Create another column 'Num_Lines' that is a count of how many lines pass through a station. Then sort your dataframe by this column in descending order.

In [69]:
df[df['station'] == '103 ST']['linename'].unique()

array(['BC', '1', '6'], dtype=object)

In [46]:
unique_linenames = df.groupby('station')['linename'].nunique()

station
1 AV               1
103 ST             3
103 ST-CORONA      1
104 ST             2
110 ST             1
111 ST             3
116 ST             3
116 ST-COLUMBIA    1
121 ST             1
125 ST             4
135 ST             2
137 ST CITY COL    1
138/GRAND CONC     1
14 ST              3
14 ST-UNION SQ     2
145 ST             2
149/GRAND CONC     1
14TH STREET        1
15 ST-PROSPECT     1
155 ST             2
157 ST             1
161/YANKEE STAD    2
167 ST             2
168 ST             2
169 ST             1
170 ST             2
174 ST             1
175 ST             1
176 ST             1
18 AV              3
                  ..
SUTPHIN-ARCHER     1
SUTTER AV          1
SUTTER AV-RUTLD    1
THIRTY ST          1
THIRTY THIRD ST    1
TIMES SQ-42 ST     3
TOMPKINSVILLE      1
TREMONT AV         1
TWENTY THIRD ST    1
UNION ST           1
UTICA AV           1
V.CORTLANDT PK     1
VAN SICLEN AV      2
VAN SICLEN AVE     1
VERNON-JACKSON     1
W 4 ST-WASH SQ     1
W 8 ST-AQUARIUM    1
WAKEFIELD/241      1
WALL ST            2
WEST FARMS SQ      1
WESTCHESTER SQ     1
WHITEHALL S-FRY    1
WHITLOCK AV        1
WILSON AV          1
WINTHROP ST        1
WOODHAVEN BLVD     2
WOODLAWN           1
WORLD TRADE CTR    1
YORK ST            1
ZEREGA AV          1
Name: linename, Length: 373, dtype: int64

In [70]:
unique_linenames

station
1 AV               1
103 ST             3
103 ST-CORONA      1
104 ST             2
110 ST             1
111 ST             3
116 ST             3
116 ST-COLUMBIA    1
121 ST             1
125 ST             4
135 ST             2
137 ST CITY COL    1
138/GRAND CONC     1
14 ST              3
14 ST-UNION SQ     2
145 ST             2
149/GRAND CONC     1
14TH STREET        1
15 ST-PROSPECT     1
155 ST             2
157 ST             1
161/YANKEE STAD    2
167 ST             2
168 ST             2
169 ST             1
170 ST             2
174 ST             1
175 ST             1
176 ST             1
18 AV              3
                  ..
SUTPHIN-ARCHER     1
SUTTER AV          1
SUTTER AV-RUTLD    1
THIRTY ST          1
THIRTY THIRD ST    1
TIMES SQ-42 ST     3
TOMPKINSVILLE      1
TREMONT AV         1
TWENTY THIRD ST    1
UNION ST           1
UTICA AV           1
V.CORTLANDT PK     1
VAN SICLEN AV      2
VAN SICLEN AVE     1
VERNON-JACKSON     1
W 4 ST-WASH SQ     1
W 8 ST-AQUARIUM    1
WAKEFIELD/241      1
WALL ST            2
WEST FARMS SQ      1
WESTCHESTER SQ     1
WHITEHALL S-FRY    1
WHITLOCK AV        1
WILSON AV          1
WINTHROP ST        1
WOODHAVEN BLVD     2
WOODLAWN           1
WORLD TRADE CTR    1
YORK ST            1
ZEREGA AV          1
Name: linename, Length: 373, dtype: int64

In [71]:
df.head()

,linename,c/a,unit,scp,station,division,date,time,desc,entries,exits
0,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
1,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
2,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
3,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
4,NQR456W,A002,R051,02-00-00,59 ST,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [72]:
#from video
df.set_index('station', inplace = True)

In [73]:
df.head()

,linename,c/a,unit,scp,division,date,time,desc,entries,exits
station,,,,,,,,,,
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384

In [74]:
#from video
df[df['station'] == '103 ST']['linename'].unique()

KeyError: 'station'

In [76]:
df['Num_Lines'] = unique_linenames

In [77]:
df.head()

,linename,c/a,unit,scp,division,date,time,desc,entries,exits,Num_Lines
station,,,,,,,,,,,
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,00:00:00,REGULAR,6736067,2283184,3
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,04:00:00,REGULAR,6736087,2283188,3
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,08:00:00,REGULAR,6736105,2283229,3
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,12:00:00,REGULAR,6736180,2283314,3
59 ST,NQR456W,A002,R051,02-00-00,BMT,08/25/2018,16:00:00,REGULAR,6736349,2283384,3

In [75]:
unique_linenames['59 ST']

3

WRITE a function to clean a column name